body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #111111;
	font-size: 14px;
	font-family: arial, verdana, sans-serif;
}

.modal {
	margin: 30px auto 0 auto;
	width: 500px;
}

.page-main {
	width: 90%;
	min-width: 760px;
	max-width: 1200px;
	background-color: white;
	padding: 5px;
	margin: 0 auto;
	line-height: 1.5em;
}

.page-main a {
	color: red;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: .5em 0;
}

h2 {
	font-size: 1.3em;
	margin: .3em 0;
}

.navbar {
	padding: 10px 0;
	margin: 10px 0;
	background-color: #333333;
	color: white;
}

.navbar ul {
	margin: 0;
}

.navbar li {
	margin: 0 1em;
	display: inline;
}

.navbar a { color: white;}

.listview li { 
	padding: 3px 3px 3px 1em;
}

li.list-divider {
	font-weight: bold;
}

.page-footer {
	background: #333333;
	color: white;
	margin: 5px 0;
	padding: 1em;
}

/*  TO BE MOVED TO ADMIN CSS */

.widget_grid {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:left;
	width: 100%;
}

.widget_grid thead th,
.widget_grid tfoot td {
    padding: 10px;
    color:#fff;
    font-size: 1em;
    background-color:#222;
    font-weight:normal;
    border:1px solid #666;
    border-top:1px solid #666;
	vertical-align: top;
}

.widget_grid tbody td {
    padding: 10px;
    background-color:#f0f0f0;
    border:1px solid #999;
    color:#333;
	vertical-align: top;
}

.widget_grid tr.tr_odd td {
	background-color: white;
}

.widget_grid p,
.widget_grid h1,
.widget_grid h2,
.widget_grid h3 {
	margin: 0 0 3px 0;
}

.grid-input-small {
	width: 100%;
}

.grid-input-medium {
	width: 100%;
}
