/* 
    Document   : theme-cool.css
    Created on : 10.02.2011, 10:21:29
    Author     : radu.mogos
    Description:
        A theme file for ZeroG
*/
body {
	background-color: #EAEBEB;
}

p, div {
	line-height: 150%;
}

ul li, ol li {
	margin: 4px 0;
}

.window {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 0;
	-moz-box-shadow: 0 0 6px #222;
	-webkit-box-shadow: 0 0 6px #222;
	box-shadow: 0 0 6px #222;
	color: #B8BBBE;
	font-size: 85%;
}

.window a {
	color: #E7F1FC;
	text-decoration: none;
	border-bottom: 1px dotted #E7F1FC;
}

.window a:hover {
	border-style: solid;
	color: white;
}

.window h2 {
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 0 #111111;
	font-size: 120%;
	padding: 8px 20px;
	background-color: #565A5D;
	margin: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background: -moz-linear-gradient(top,  #61676B,  #4A4D50);
	background: -webkit-gradient(linear, left top, left bottom, from(#61676B), to(#4A4D50));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61676B', endColorstr='#4A4D50');
}

.window_content {
	border: 0;
	padding: 0 0 10px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #1E2123;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	background: -moz-linear-gradient(top,  #323639,  #1E2123);
	background: -webkit-gradient(linear, left top, left bottom, from(#323639), to(#1E2123));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323639', endColorstr='#1E2123');
}

.window_content h2 {
	font-size: 100%;
	clear: right;
}

.window_content h3 {
	color: white;
	font-weight: bold;
	font-size: 100%;
	text-shadow: 1px 0 0 #111111;
	padding: 7px 0;
}

.message {
	padding: 14px 20px;
	color: #E0ECFF;
	background-image: url(../images/border.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.information {
	text-shadow: 1px 1px 0 #283B4E;

	background-color: #165196;
	background-image: url(../images/border.gif), -moz-linear-gradient(top,  #3D7AB0,  #165196);
	background-image: url(../images/border.gif), -webkit-gradient(linear, left top, left bottom, from(#3D7AB0), to(#165196));
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D7AB0', endColorstr='#165196');*/
	background-position: -1000px 0px;
}

.notice {
	text-shadow: 1px 1px 0 #640606;
	background-color: #95121a;
	background-image: url(../images/border.gif), -moz-linear-gradient(top,  #BF3032,  #95121a);
	background-image: url(../images/border.gif), -webkit-gradient(linear, left top, left bottom, from(#BF3032), to(#95121a));
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF3032', endColorstr='#95121a');*/
	background-position: -2000px 0px;
}

.attention {
	text-shadow: 1px 1px 0 #013b1e;
	background-color: #047a40;
	background-image: url(../images/border.gif), -moz-linear-gradient(top,  #00b15a,  #047a40);
	background-image: url(../images/border.gif), -webkit-gradient(linear, left top, left bottom, from(#00b15a), to(#047a40));
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b15a', endColorstr='#047a40');*/
	background-position: -3000px 0px;
}

