<?xml version="1.0" encoding="UTF-8"?>

<!--
	Document   : routes.xml
	Created on : 20 februarie 2011, 22:30
	Author     : radu.mogos
	Description:
		Router xml file
-->

<routes>
	<!-- context variables and their value -->
	<context>
		<locale>
			<translate from="fr_FR" to="fr" />
			<translate from="ro_RO" to="ro" />
		</locale>
		<type>
			<translate from="100" to="print" />
			<translate from="101" to="rss" />
			<translate from="102" to="xml" />
		</type>
	</context>
	<!-- this is the default route -->
	<route>
		<from>/</from>
		<to>
			<controller>cms</controller>
			<action>index</action>
		</to>
	</route>
	<!-- sample route which loads the French locale -->
	<route>
		<from>fr/:controller/:action</from>
		<from>fr/:controller</from>
		<to>
			<locale>fr_FR</locale>
		</to>
	</route>
	<!-- sample route which loads the romanian locale -->
	<route>
		<from>ro/:controller/:action</from>
		<from>ro/:controller</from>
		<to>
			<locale>ro_RO</locale>
		</to>
	</route>
</routes>
