<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<ZeroG_Page>
			<version>0.1.0</version>
		</ZeroG_Page>
	</modules>

	<global>
		<blocks>
			<page>
				<class>ZeroG\Page\Blocks</class>
			</page>
		</blocks>
	</global>

	<frontend>
		<routers>
			<page>
				<from>page</from>
				<to>
					<module>ZeroG_Page</module>
				</to>
			</page>
		</routers>
        <translate>
        	<modules>
        		<ZeroG_Page>
        			<files>
        				<default>ZeroG_Page.csv</default>
        			</files>
        		</ZeroG_Page>
        	</modules>
        </translate>
		<!--<layout>
			<updates>
				<blog>
					<file>page.xml</file>
				</blog>
			</updates>
		</layout>-->
	</frontend>
</config>