<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<ZeroG_Page>
			<version>0.1.0</version>
		</ZeroG_Page>
	</modules>

	<global>
		<blocks>
			<page>
				<class>ZeroG\Page\Block</class>
			</page>
		</blocks>
		<models>
			<page>
				<class>ZeroG\Page\Model</class>
				<resourceModel>page_resource</resourceModel>
			</page>
			<page_resource>
				<class>ZeroG\Page\Model\Resource</class>
				<entities>
					<cms>
						<table>page_cms</table>
					</cms>
				</entities>
			</page_resource>
		</models>
        <resources>
            <page_setup>
                <setup>
                    <module>ZeroG_Page</module>
                </setup>
            </page_setup>
        </resources>
	</global>

	<frontend>
		<routers>
			<page>
				<use>page</use>
				<args>
					<module>ZeroG_Page</module>
				</args>
			</page>
		</routers>
        <translate>
        	<modules>
        		<ZeroG_Page>
        			<files>
        				<default>ZeroG_Page.csv</default>
        			</files>
        		</ZeroG_Page>
        	</modules>
        </translate>
		<!--<layout>
			<updates>
				<page>
					<file>page.xml</file>
				</page>
			</updates>
		</layout>-->
	</frontend>
</config>