<?xml version="1.0" encoding="UTF-8"?>

<!--
	Document   : config.xml
	Created on : 06 martie 2011, 16:11
	Author     : radu.mogos
	Description:
		Config file for the Pixelplant_Blog extension
-->

<config>

	<modules>
		<Pixelplant_Blog>
			<version>0.1.1</version>
		</Pixelplant_Blog>
	</modules>

	<global>

		<blocks>
			<blog>
				<class>Pixelplant\Blog\Block</class>
			</blog>
		</blocks>

		<models>
			<blog>
				<class>Pixelplant\Blog\Model</class>
				<resourceModel>blog_resource</resourceModel>
			</blog>
			<blog_resource>
				<class>Pixelplant\Blog\Model\Resource</class>
				<entities>
					<post>
						<table>pixeplant_blog_post</table>
					</post>
					<category>
						<table>pixelplant_blog_category</table>
					</category>
					<site>
						<table>pixelplant_blog_site</table>
					</site>
				</entities>
			</blog_resource>
		</models>

        <resources>
            <blog_setup>
                <setup>
                    <module>Pixelplant_Blog</module>
                </setup>
            </blog_setup>
        </resources>

		<helpers>
			<blog>
				<module>Pixelplant_Blog</module>
			</blog>
		</helpers>

		<events>
			<blog_post_load_after>
				<blog_observer>
					<type>singleton</type>
					<class>blog/observer</class>
					<method>testObserver</method>
				</blog_observer>
			</blog_post_load_after>
		</events>

	</global>

	<frontend>

		<routers>
			<blog>
				<use>blog</use>
				<args>
					<module>Pixelplant_Blog</module>
				</args>
			</blog>
		</routers>

		<layout>
			<updates>
				<blog>
					<file>blog.xml</file>
				</blog>
			</updates>
		</layout>

        <translate>
        	<modules>
        		<Pixelplant_Blog>
        			<files>
        				<default>Pixelplant_Blog.csv</default>
        			</files>
        		</Pixelplant_Blog>
        	</modules>
        </translate>

	</frontend>

	<admin>
		<routers>
			<blog>
				<use>blog_admin</use>
				<args>
					<module>Pixelplant_Blog</module>
				</args>
			</blog>
		</routers>

		<layout>
			<updates>
				<blog>
					<file>blog.xml</file>
				</blog>
			</updates>
		</layout>

        <translate>
        	<modules>
        		<Pixelplant_Blog>
        			<files>
        				<default>Pixelplant_Blog.csv</default>
        			</files>
        		</Pixelplant_Blog>
        	</modules>
        </translate>

	</admin>

</config>
