<?xml version="1.0" encoding="UTF-8"?>

<!--
	Document   : config.xml
	Created on : 06 martie 2011, 16:11
	Author     : radu.mogos
	Description:
		Config file for the Pixelplant_Blog extension
-->

<config>

	<modules>
		<Pixelplant_Blog>
			<version>0.1.0</version>
		</Pixelplant_Blog>
	</modules>

	<global>

		<blocks>
			<blog>
				<class>Pixelplant\Blog\Block</class>
			</blog>
		</blocks>

		<models>
			<blog>
				<class>Pixelplant\Blog\Model</class>
				<resourceModel>blog_resource</resourceModel>
			</blog>
			<blog_resource>
				<class>Pixelplant\Blog\Model\Resource</class>
				<entities>
					<post>
						<table>pixeplant_blog_post</table>
					</post>
					<category>
						<table>pixelplant_blog_category</table>
					</category>
				</entities>
			</blog_resource>
		</models>

        <resources>
            <blog_setup>
                <setup>
                    <module>Pixelplant_Blog</module>
                </setup>
            </blog_setup>
        </resources>

		<helpers>
			<blog>
				<class>Pixelplant\Blog\Helper</class>
			</blog>
		</helpers>

		<events>
			<blog_post_load_after>
				<blog_observer>
					<type>singleton</type>
					<class>blog/observer</class>
					<method>testObserver</method>
				</blog_observer>
			</blog_post_load_after>
		</events>

	</global>

	<frontend>

		<routers>
			<blog>
				<from>blog</from>
				<to>
					<module>Pixelplant_Blog</module>
				</to>
			</blog>
		</routers>

		<layout>
			<updates>
				<blog>
					<file>blog.xml</file>
				</blog>
			</updates>
		</layout>

	</frontend>

</config>
