/* 
    Document   : admin.all.css
    Created on : 23.01.2012, 11:43:59
    Author     : radu.mogos
    Description:
        Purpose of the stylesheet follows.
*/

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

