<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<ZeroG_Core>
			<version>0.1.0</version>
		</ZeroG_Core>
	</modules>

	<global>
		<blocks>
			<core>
				<class>ZeroG\Core\Blocks</class>
			</core>
		</blocks>
		<models>
			<core>
				<class>ZeroG\Core\Models</class>
				<resourceModel>core_mysql</resourceModel>
			</core>
		</models>
        <resources>
            <core_setup>
                <setup>
                    <module>ZeroG_Core</module>
                </setup>
            </core_setup>
        </resources>
	</global>

	<frontend>
        <translate>
        	<modules>
        		<ZeroG_Core>
        			<files>
        				<default>ZeroG_Core.csv</default>
        			</files>
        		</ZeroG_Core>
        	</modules>
        </translate>
	</frontend>
</config>