<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<ZeroG_Core>
			<version>0.1.0</version>
		</ZeroG_Core>
	</modules>

	<global>
		<blocks>
			<core>
				<class>ZeroG\Core\Block</class>
			</core>
		</blocks>
	</global>

	<frontend>
        <translate>
        	<modules>
        		<ZeroG_Core>
        			<files>
        				<default>ZeroG_Core.csv</default>
        			</files>
        		</ZeroG_Core>
        	</modules>
        </translate>
	</frontend>
</config>