<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<ZeroG_Core>
			<version>0.1.1</version>
		</ZeroG_Core>
	</modules>

	<global>
		<blocks>
			<core>
				<class>ZeroG\Core\Block</class>
			</core>
		</blocks>
		<models>
			<core>
				<class>ZeroG\Core\Model</class>
				<resourceModel>core_resource</resourceModel>
			</core>
			<core_resource>
				<class>ZeroG\Core\Model\Resource</class>
				<entities>
					<extension>
						<table>core_extension</table>
					</extension>
					<cache_option>
						<table>core_cache_option</table>
					</cache_option>
					<website>
						<table>core_website</table>
					</website>
					<website_group>
						<table>core_website_group</table>
					</website_group>
					<website_view>
						<table>core_website_view</table>
					</website_view>
					<email_template>
						<table>core_email_template</table>
					</email_template>
					<session>
						<table>core_session</table>
					</session>
					<config_data>
						<table>core_config_data</table>
					</config_data>
					<url_rewrite>
						<table>core_url_rewrite</table>
					</url_rewrite>
					<attribute>
						<table>core_attribute</table>
					</attribute>
				</entities>
			</core_resource>
		</models>
        <resources>
            <core_setup>
                <setup>
                    <module>ZeroG_Core</module>
                </setup>
            </core_setup>
        </resources>
	</global>

	<frontend>
        <translate>
        	<modules>
        		<ZeroG_Core>
        			<files>
        				<default>ZeroG_Core.csv</default>
        			</files>
        		</ZeroG_Core>
        	</modules>
        </translate>
	</frontend>
</config>